<div class="col-xs-12 col-md-4">
    {{#each nation}}
        {{> article-card}}
    {{/each}}
</div>
<div class="col-xs-12 col-md-4">
   <!-- <div class="card-columns"> -->
    {{#each reason}}
        {{> article-card}}
    {{/each}}
  <!--  </div> -->
</div>
<div class="col-xs-12 col-md-4">
    {{#each natReview}}
        {{> article-card}}
    {{/each}}
</div>